# general
ignore
logs

# electronics
electronics/drake_electronics/#auto_saved_files#
electronics/drake_electronics/drake_electronics-backups

# autosafe
~$

# Python
__pycache__

# Rust
target
Cargo.lock

# Creds
key