[submodule "code/stepper_lib"]
	path = code/stepper_lib
	url = https://github.com/SamuelNoesslboeck/stepper_lib
[submodule "code/sybot_lib"]
	path = code/sybot_lib
	url = https://github.com/SamuelNoesslboeck/sybot_lib
[submodule "electronics/robot_driver_mk1"]
	path = electronics/robot_driver_mk1
	url = https://github.com/SamuelNoesslboeck/robot_driver_mk1.git
